/* globals.css */

/* Import Tailwind */
@import "tailwindcss";

/* Reset kecil */
* {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  box-shadow: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Theme color */
:root {
  --background: #fed8b1;
  --foreground: #171717;
  --color-hijau: #4caf50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d8ccc0;
    --foreground: #eeeeee;
    --color-hijau: #4caf50;
  }
}

/* Default font: PT Sans */
body {
  font-family: var(--font-ptsans), sans-serif;
}

/* Custom class jika ingin pakai Rubik */
.font-rubik {
  font-family: var(--font-rubik), sans-serif;
}

.font-ptsans {
  font-family: var(--font-ptsans), sans-serif;
}
